@model ProjetoCincoSolas.ViewModel.ComentarioBiblicoViewModel

@{
    ViewBag.Title = "Comentarios Bíblicos";
}

<link href="~/Content/about.css" rel="stylesheet" type="text/css" />
<link href="~/Content/about_responsive.css" rel="stylesheet" type="text/css" />

<div class="home">
    <div class="home_background" style="background-image:url(../../Imagens/events.jpg)"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row align-items-center justify-content-start">
                    <div class="home_title">Comentários Bíblicos</div>
                    <div class="breadcrumbs ml-auto">
                        <ul>
                            <li><a href="index.html">Início</a></li>
                            <li>Comentários Bíblicos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="alert alert-warning" role="alert" id="alert" style="display:none;">
        <span></span>
    </div>


    <form style="width: 50%; margin: 0 auto;" role="form">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Livros:</label>
                @Html.DropDownListFor(x => x.IdLivro, Model.Livros, "Selecione", new { @class = "form-control select2" })
            </div>
            <div class="form-group col-md-4">
                <label>Capitulos:</label>
                @Html.DropDownListFor(x => x.IdCapitulo, Model.Capitulos, "Selecione", new { @class = "form-control select2" })
            </div>

            <div class="form-group col-md-2">
                <label> </label>
                <button id="btnBuscar" class="btn btn-primary mb-2">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </div>
    </form>

    <div class="comentario"></div>
</div>
<script>
    $('#IdLivro').on('change', function () {

        var idLivro = $('#IdLivro').val();
        var idCapitulo = $('#IdCapitulo').val();

        $('#IdCapitulo').empty().prop('disabled', !idCapitulo);

        if (!idLivro) {
            return;
        }

        $.ajax({
            url: '@Url.Action("ListarCapitulos", "ComentarioBiblico")',
            data: { idLivro: idLivro },
            method: 'POST',
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (!json.retorno.Erro) {
                    var combo = $('#IdCapitulo');
                    combo.empty();
                    $("#IdCapitulo").attr("disabled", false);

                    $.each(json.capitulos, function (element) {
                        combo.append(
                            $('<option>', {
                                value: element + 1,
                                html: element + 1
                            })
                        );
                    });
                }
                else {

                    for (var i = 0; i < json.retorno.Mensagens.length; i++) {
                        $('#alert').append(json.retorno.Mensagens[i] + "<br>");
                    }

                    $("#alert").fadeIn(700, function () {
                        setTimeout(function () {
                            $('#alert').fadeOut();
                        }, 1500);
                    });
                }
            }
        });
    }).change();
</script>
<script>
    $("#btnBuscar").on('click', (function (e) {
        e.preventDefault();

        var idLivro = $('#IdLivro').val();
        var idCapitulo = $('#IdCapitulo').val();

        $.ajax({
            url: '@Url.Action("ListarComentarios", "ComentarioBiblico")',
            data: { idLivro, idCapitulo },
            method: 'GET',
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (!json.Data.retorno.Erro) {
                    $('.comentario').html("");
                    for (var i = 0; i < json.Data.comentarios.length; i++) {
                        var div2 = $('<div/>', {
                            css: {
                                'font-weight': 600
                            },
                            class: 'card-header'
                        }).append('📖 ' + json.Data.comentarios[i].Comentario.Nome);

                        var div1 = $('<div/>', {
                            class: 'card',
                            id: json.Data.comentarios[i].Comentario.Id
                        }).append(div2);

                        $('.comentario').append(div1).append('<br>');
                    }
                }
                else {
                    for (var i = 0; i < json.retorno.Mensagens.length; i++) {
                        $('#alert').append(json.retorno.Mensagens[i] + '<br>');
                    }

                    $("#alert").fadeIn(700, function () {
                        setTimeout(function () {
                            $('#alert').fadeOut();
                        }, 1500);
                    });
                }
            }
        });

        return false;
    }));
</script>
<script>
    $('.comentario').on('click', '.card', function (index) {
        var idComentario = this.id;
        console.log(index);
        var idNumeroLivroBiblia = $('#IdLivro').val();
        var idCapitulo = $('#IdCapitulo').val();

        $.ajax({
            url: '@Url.Action("ConsultarComentario", "ComentarioBiblico")',
            data: { idComentario, idNumeroLivroBiblia, idCapitulo},
            method: 'POST',
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (!json.retorno.Erro) {

                    var p = $('<p/>', {
                        class: 'card-text',
                    }).append(json.comentariosBiblicos[0].ComentarioLivroBiblia);

                    var div1 = $('<div/>', {
                        class: 'card-body',
                    }).append(p);

                    $('#' + json.comentariosBiblicos[0].Comentario.Id).append(div1);
                }
            }
        });
    });
</script>


<style>
    .card-header {
        cursor: pointer;
        transition: 0.3s;
        border-left: 3px solid #dc3545;
    }

        .card-header:hover {
            background-color: #f4e0e0;
            color: #852020;
            font-weight: 600;
        }
</style>